.header ul {
    display: flex;
    list-style: none;
    justify-content: center;
	background-color: black;
    padding: 10px;
	margin-top: 0;
	margin-bottom: 0;
}

.header ul li a {
    color: #fff;
    font-size: 12px;
	margin-right: 15px;
}

